<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="https://typeblog.net/" target="_blank" title="Typeblog">雪碧虾的博客</a></li>
      <li><a href="http://acgmiao.com" target="_blank" title="ACG 喵">LI欣欣Zn的博客</a></li>
      <li><a href="http://undownding.me" target="_blank" title="不淡定的陆仁甲">但丁不淡定的博客</a></li>
      <li><a href="http://drakeet.me/" target="_blank" title="Drakeet的个人博客">Drakeet的博客</a></li>
      <li><a href="http://github.com/fython" target="_blank" title="我的 Github">烧饼的 Github 主页</a></li>
    </ul>
</div>
